.signup-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: transparent;
    background-image: url("https://gdm-catalog-fmapi-prod.imgix.net/ProductLogo/57eb5d25-5190-4b84-b819-123ead35dcb9.png");
    background-size:auto;
}
.signup-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 35%;
    min-height:40%;
    background-image: url("https://gdm-catalog-fmapi-prod.imgix.net/ProductLogo/57eb5d25-5190-4b84-b819-123ead35dcb9.png");
    background-size:cover;
    padding:10px 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px;
    animation:signup-box;
    animation-duration: 4s;
}
@keyframes signup-box{
    from{
        transform: translateY(110%);
    }
}
.signup-form{
    margin:0px 20px;
    display: flex;
    flex-direction: column;
    width:80%;
}